.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #1976D2; /* Set navbar background color */
}

.navbar-brand img {
    width: 45px;
    height: 60px;
    filter: brightness(2);
    margin-right: 10px;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFF; /* Set the brand text color to white */
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    color: #FFF; /* Set the nav link text color to white */
}

.navbar-nav .nav-link:hover {
    background-color: #191AD2;
    color: #FFC107;
}

.navbar-nav .dropdown-menu {
    background-color: #4682B4; /* Set dropdown background color */
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #1E90FF;
}